@mixin mobile {
    @media screen and (max-width:521px) {
        @content;
    }
}

@mixin minitablet {
    @media screen and (max-width:621px) {
        @content;
    }
}

@mixin tablet {
    @media screen and (max-width:768px) {
        @content;
    }
}

@mixin minilaptop {
    @media screen and (max-width:1090px) {
        @content;
    }
}

@mixin laptop {
    @media screen and (min-width:1090px) {
        @content;
    }
}

.content {
    flex: 25;

    .topsection {
        margin: 10px 25px;

        h3 {
            font-size: 28px;
            margin-bottom: 10px;
        }

        h5 {
            font-size: 15px;
        }

        span {
            color: rgb(36, 180, 106);
        }

    }

    .middlesection {
        margin: 10px 20px;
        margin-top: 30px;
        display: grid;
        grid-template-rows: 1fr;
        /* Sets one column */
        grid-template-columns: repeat(5, 1fr);
        /* Sets three rows */
        gap: 10px;
        /* Optional: adds some spacing between the divs */

        @include minilaptop {
            // display: none;
            width: 500px;
            margin: 30px auto;
        }

        @include minitablet {
            // display: none;
            width: 350px;
            margin: 30px auto;
        }

        @include mobile {
            // grid-template-columns: 1fr; 
            // grid-template-rows: repeat(1, 3fr);
            display: flex;
            flex-direction: column;
            width: 80%;
        }




        .stats {
            background-color: rgb(191, 185, 185);
            padding: 5px 20px;
            height: 100px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            text-align: center;

            .flexicon {
                display: flex;
                justify-content: space-between;

                @include minitablet {
                    justify-content: center;
                    text-align: center;
                }

                h2 {
                    display: flex;
                    align-items: center;
                    font-size: 30px;

                    @include minilaptop {
                        font-size: 20px;
                    }

                }

                .icon {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-size: 30px;
                    color: rgb(36, 180, 106);
                    border: 1.5px solid rgb(36, 180, 106);
                    border-radius: 50%;
                    padding: 10px;
                    margin: 10px 15px;

                    @include minilaptop {
                        font-size: 20px;
                    }

                    @include minitablet {
                        display: none;
                    }

                    &:hover {
                        background: rgb(36, 180, 106);
                        color: #fdfdfd;
                        transition: ease-in-out;
                        transition-duration: 0.3s;
                        box-shadow: 0 0 0.5rem rgb(36, 180, 106);
                    }
                }
            }

        }
    }

    .bottomsection {

        margin: 10px 20px;
        margin-top: 30px;
        display: grid;
        grid-template-rows: 1fr;
        /* Sets one column */
        grid-template-columns: repeat(2, 1fr);
        /* Sets three rows */
        gap: 10px;
        /* Optional: adds some spacing between the divs */


        @include minilaptop {
            grid-template-columns: repeat(1, 1fr);

            .userTable {
                display: none;
            }

            .mybookTable {
                display: none;
            }
        }

        @include mobile {
            .bookTable {
                display: none;
            }
        }

        .minitablet {
            @include minitablet {
                display: none;
            }
        }


        .table {
            .button {
                display: flex;
                justify-content: space-between;
            }

            .user {
                display: flex;
                align-items: center;

                span {
                    margin-left: 5px;
                }

                img {
                    height: 16px;
                    width: 16px;
                    object-fit: cover;
                    border-radius: 50%;
                }
            }

            .List {
                .button {

                    &:hover {
                        color: rgb(36, 180, 106);
                        background: rgb(209, 203, 203);
                    }
                }
            }

        }



    }

}


.header {
    background-color: #fff;
    height: 10vh;
    box-shadow: 0 5px 30px rgb(0 22 84 / 10%);
    padding: 15px 0;
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


header a {
    margin-left: 30px;
    transition: 0.5s;
    font-weight: 500;
}

header a:hover {
    color: #27ae60;
}

header h4 {
    font-weight: 500;
    margin-right: 20px;
}

.centrebox {
    height: 500px;
    border: 1px solid #27ae60;
    padding: 0px 50px;
    margin-bottom: 30px;
    text-align: center;
}

.centrebox h3 {
    margin: 20px auto;
}

.centrebox .boxcontent {
    padding: 20px 10px;
    display: flex;
    justify-content: space-around;
    border: 1px solid #27ae60;
}

@media screen and (max-width: 768px) {
    header {
        padding: 0;
    }

    header li a {
        display: inline-block;
        margin-bottom: 20px;
        color: #fff;
    }
}