.sect{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.sect .subcontainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.container .form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}


.common-part{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
}

.table ul{
    margin: 20px 0px;
}
.table ul li{
    font-size: 13px;
}

.btn-div{
    display: flex;
    gap: 50px;
    justify-content: space-between;
}